
@media only screen and (min-width: 641px) {
    .filter-buttons {
        justify-content: center;
        gap: 2.5rem;
    }

    .info {
        grid-template-columns: 1fr 1fr;
    }

    .attraction-card {
        align-items: start;
        grid-template-areas: 
        "name name"
        "image description"
        "image address"
        "button button";
    }

    .attraction-image {
        transition: transform 0.5s ease;
    }

    .attraction-image:hover {
        transform: scaleX(-1);

    }

}

@media only screen and (min-width: 1024px) {

    nav {
        padding: 1rem;
        border: none;
    }

    nav ul {
        display: flex; 
        justify-content: space-around; 
        flex-direction: row;
    }

    nav ul li a {
        background-color: var(--nav-background-color);
        text-align: center;
    }

    .menu-text {
        display: none;
    }

    nav ul li a:hover {
        border-radius: 25px;
    }

    .info {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .join-chamber-container {
        grid-template-columns: 1fr 1fr;
    }

    #discover-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "card card";
    }

}

@media only screen and (min-width: 1200px) {

    body {
        max-width: 1600px;
        margin: auto;
    }


}
