
@media only screen and (min-width: 600px) {
    .filter-buttons {
        justify-content: center;
        gap: 2.5rem;
    }

    .info {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 900px) {

    nav {
        padding: 1rem;
        border: none;
    }

    nav ul {
        display: flex; 
        justify-content: space-around; 
        flex-direction: row;
    }

    nav ul li a {
        background-color: var(--nav-background-color);
        text-align: center;
    }

    .menu-text {
        display: none;
    }

    nav ul li a:hover {
        border-radius: 25px;
    }

    .info {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 1200px) {

    body {
        max-width: 1600px;
        margin: auto;
    }


}
