@media only screen and (min-width: 320px) {


}

@media only screen and (min-width: 600px) {


}

@media only screen and (min-width: 900px) {

    main {
        display: grid;
    }

    nav {
        padding: 1rem;
        border: none;
    }

    nav ul {
        display: flex; 
        justify-content: space-around; 
        flex-direction: row;
    }

    nav ul li a {
        background-color: var(--nav-background-color);
        text-align: center;
    }

    .menu-text {
        display: none;
    }

    nav ul li a:hover {
        border-radius: 25px;
    }
/* 
    footer {
        flex-direction: row;
    } */

}

@media only screen and (min-width: 1200px) {


}